body {
    font-family: Arial;
    font-size: 0.8em;
    text-align: justify;
    margin-left:auto;
    margin-right:auto;
    max-width: 800px;
    margin-top: 0px;
    background-color: #bbbbbb;
    border: 1px solid;
}

header {
    background-color: #333;
    border-bottom: 1px solid;
    color: white;
    text-align: center;
    padding: 0px;
    margin: 0px;
    background: url('images/header_background.png') no-repeat top center ;
    height: 220px;
}

footer {
    border-top: 1px solid;
    background-color: #11345e;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #ffffff;
}

p{
    padding-left:0.5em;
    padding-right:0.5em;
}

@media (min-width: 600px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}

h2,h3,h4,h5 {
    font-weight: 400;
    background-color: #323d51;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    color: #ffffff;
    background: url('images/title_background.png');
    background-size: auto;
}



.scrolling {
 margin: 0 auto;
 width: 20em;
 height: 30em;
 overflow-x: scroll;
 overflow-y: hidden;
 white-space: nowrap;
 word-wrap: normal;
}

.scrolling img {
 width: 13em;
 height: 29em;
}